# Lazarus files.
*.o
*.ppu
*.bak
*.tpu
*.$$$
*.exe
*.lps
Desktop/backup/
Desktop/lib/

# Visual Studio files.
PocketPC/BOM Checklist/obj
PocketPC/BOM Checklist/bin

# Test files.
test.csv
test.xml

# Misc.
*.pdnBak
.DS_Store
